@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* 1 General */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Background Color */
    --primary-color: #C9956C;
    --secondary-color: #0e1525;
    --bg-dark-blue: #091020;
    --bg-white: #ffffff;
    --gray-color: #c6c9d8bf;
    --gradient-color: linear-gradient(-224deg, var(--primary-color) 0, #337DFF 100%);
    --gradient-text: linear-gradient(120deg, #1C99FE 20.69%, #7644FF 50.19%, var(--primary-color) 79.69%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='var(--primary-color)', endColorstr='var(--secondary-color)', GradientType=1);

    /* Text Color */
    --primary-font:'Merriweather', serif;
    --primary-text: #8000ff;
    --text-gray: #c6c9d8bf;
    --text-white: #fff;
    --text-black: #000000;
}

body {
    font-family: var(--primary-font);
    background-color: #080808 !important;
}

a {
    text-decoration: none;
}

/* 1 Custom CSS */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #080808;
}

::-webkit-scrollbar-thumb {
  background: #C9956C;
}

::-webkit-scrollbar-thumb:hover {
  background: #E8C4A8;
}



section {
    padding: 50px 0;
}

@media (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none;
  }
  * {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}